.home {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.button {
  background-color: transparent;
  color: #2b2b2b;
  outline: 2px solid #2b2b2b;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 15vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  min-width: 180px;
}

.button:hover {
  background-color: #191919;
  color: white;
  transform: scale(0.98);
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }
  .home {
    gap: 3rem;
  }
  .button {
    font-size: 1.2rem;
    width: 80%;
    min-width: unset;
  }
}
