.home {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f8f8f8;
  color: #2b2b2b;
  flex-direction: row-reverse;
  width: 100%;
}

.presentation a {
  text-decoration: none;
  width: fit-content;
}

.presentationContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f8f8f8;
  color: #2b2b2b;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
}

.presentation .text {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.presentation .text p {
  margin-bottom: 2rem;
}

.presentation .text h1 {
  font-size: 3.2rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease;
}

.presentation .text h1:hover {
  transform: translateY(-3px);
}

.presentation .button {
  font-size: 1.6rem;
}

.presentation .image img {
  width: 35vw;
  border-radius: 8px;
  box-shadow: rgba(71, 71, 71, 0.705) 0px 2px 8px;
  border: 2px solid #e4e4e4;
  transition: all 0.3s ease;
}

.presentation .image img:hover {
  transform: translateY(-3px);
  z-index: -10;
}

.projects {
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  scroll-snap-align: end;
  scroll-snap-align: start;
}

.projects h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card p {
  padding-bottom: 1rem;
  max-width: 75%;
  border-bottom: 2px solid #e4e4e4;
}

.projects .cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.projects .card {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #e4e4e4;
  flex: 1;
  box-shadow: 0 2px 8px rgba(80, 80, 80, 0.1);
  max-width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  gap: 1rem;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(71, 71, 71, 0.705) 0px 2px 8px;
  border: 2px solid #e4e4e4;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.card:hover {
  transform: translateY(-3px);
}

.card a {
  text-decoration: underline;
  color: #2b2b2b;
  font-weight: bold;
  font-size: large;
}

.button {
  background-color: transparent;
  color: #2b2b2b;
  outline: 2px solid #2b2b2b;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 15vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  min-width: 180px;
}

.button:hover {
  background-color: #191919;
  color: white;
  transform: scale(0.98);
}

.contact {
  padding: 2rem 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80vw;
  margin: 0 auto;
}

.contact form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact input {
  height: 2.2rem;
}

.contact input,
.contact textarea {
  padding: 0.5rem;
  border: 2px solid #d4d4d4;
  box-shadow: #d4d4d4 0px 2px 8px;
  border-radius: 4px;
  width: 45vw;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.contact input:hover,
.contact textarea:hover {
  transform: translateY(-3px);
}

.reviews {
  padding: 2rem 0;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  scroll-snap-align: start;
}

.reviews h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  width: 80vw;
  overflow-x: hidden;
}

.review {
  width: 60vw;
  background-color: #f8f8f8;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.review h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2b2b2b;
  font-weight: lighter;
}

.review p {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.navButton {
  background: none;
  border: none;
  font-size: 4rem;
  margin: 0 1.5rem;
  cursor: pointer;
  color: #2b2b2b;
  transition: transform 0.2s ease;
}

.navButton:hover {
  transform: scale(1.1);
}

.status {
  margin-top: 10px;
  font-size: 1rem;
  color: green;
}

.status.error {
  color: red;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-45%);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(45vw);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-45vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(0vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutLeft {
  animation: fadeOutLeft 0.3s forwards;
}

.fadeOutRight {
  animation: fadeOutRight 0.3s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 0.3s forwards;
}

.fadeInRight {
  animation: fadeInRight 0.3s forwards;
}

.reviewImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.reviewImage:hover {
  transform: translateY(-3px);
}

.cardImage {
  width: auto;
  height: 250px;
  border-radius: 2%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.arrowsResponsive {
  display: none;
}

.navButtonRes {
  display: none;
}

.projects a {
  text-decoration: none;
}

@media screen and (max-width: 1230px) {
  .presentation {
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
  }

  .presentation .text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    text-align: center;
  }

  .presentation h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .presentation .image img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .presentation img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }

  .presentationContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .projects {
    padding: 3rem;
    height: auto;
    width: 60vw;
    margin: 2rem 0;
  }

  .projects .cards {
    align-items: center;
    flex-wrap: wrap;
  }

  .projects .card {
    width: 80%;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .presentation {
    flex-direction: column;
    align-items: center;
    margin: 4rem;
  }
  .presentation .text {
    max-width: 90vw;
  }
  .navButton {
    display: none;
  }
  .reviews {
    height: auto;
    min-height: 100vh;
  }
  .carousel {
    flex-direction: column;
    height: auto;
  }
  .arrowsResponsove {
    display: flex; /* Coloca los botones en una fila */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Alinea verticalmente los botones */
    gap: 10px; /* Espaciado entre los botones */
  }

  .navButtonRes {
    flex: 0 1 auto; /* Asegura que los botones no se expandan más de lo necesario */
    padding: 8px 16px; /* Ajusta el padding si es necesario */
    font-size: 1rem; /* Ajusta el tamaño de fuente si quieres */
    background: none;
    border: none;
    font-size: 4rem;
    margin: 0 1.5rem;
    cursor: pointer;
    color: #2b2b2b;
    transition: transform 0.2s ease;
    display: flex;
  }

  .contact {
    height: auto;
    min-height: 75vh;
  }

  .contact form {
    width: 90vw;
  }

  .contact form div {
    width: 100%;
  }

  .contact form input,
  .contact form textarea {
    width: 80%;
  }

  .contact p {
    width: 80%;
  }
}
