:root {
  font-family: raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #2b2b2b;
  color: #f8f8f8;
}

html {
  scroll-snap-type: y mandatory;
}

.header {
  z-index: 100000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 6px;
}
